# my project specific

.gradle/
nbproject/
nbproject.off/

build.xml.off

# private properties on each machine
twitter4j.properties
mysql.properties

bgrunning.log

# NetBeans specific #
logs/
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
#*.jar
*.war
*.ear
